/* ------  css-demo --------*/

/*  ---- Color Scheme ---- 
Main Color - #3C85FA

*/

/*  ---------------Box Sizing-----------------  */


html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*  ---------------Utility Classes-----------------  */
.container {
    width: 80vw;
    max-width: 960px;
    margin: 40px auto;

}



/*  ---------------Responsive Images----------------  */
img {
    max-width: 100%;
}

body {
    font-family: "Oswald", sans-serif;
    margin: 0;
}




header.primary {
    background-color: #0785F2;
    background-color: #056cf2;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cpath fill='%23d90479' fill-opacity='0.4' d='M14 16H9v-2h5V9.87a4 4 0 1 1 2 0V14h5v2h-5v15.95A10 10 0 0 0 23.66 27l-3.46-2 8.2-2.2-2.9 5a12 12 0 0 1-21 0l-2.89-5 8.2 2.2-3.47 2A10 10 0 0 0 14 31.95V16zm40 40h-5v-2h5v-4.13a4 4 0 1 1 2 0V54h5v2h-5v15.95A10 10 0 0 0 63.66 67l-3.47-2 8.2-2.2-2.88 5a12 12 0 0 1-21.02 0l-2.88-5 8.2 2.2-3.47 2A10 10 0 0 0 54 71.95V56zm-39 6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm40-40a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM15 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm40 40a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'%3E%3C/path%3E%3C/svg%3E");
    color: #F29D35;
    text-align: center;
    text-shadow: 1px 1px #000000;
    /*long form*/
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    /*Single value short hand*/
    padding: 40px;
    /* T,R,B,L */
    padding: 20px 40px 20px 40px;
    /* Two Value Top/Bottom / L/R */
    padding: 20px 40px;
}

header.primary h1 {
    font-size: 2.4rem;
    /* top | left and right | bottom */
    margin: 20px 0 0;
}

header.primary h1 a {
    color: #ffffff;
    text-decoration: none;
}

header.primary h2 {
    font-size: 1.3rem;
    margin: 0;
}

header.primary nav {
    max-width: 960px;
    margin: auto;

}

header.primary nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 0;
}

header.primary nav ul li {
    list-style-type: none;
}

header.primary nav ul li a {
    color: #ffffff;
    font-size: 0.9rem;
    text-decoration: none;
    border: 1px solid #c0c0c0;
    padding: 7.5px 10px;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 20px;
    transition: 0.4s;
}

header.primary nav ul li a:hover {
    background-color: rgba(0, 0, 0, .8);
}

#content {
    line-height: 1.4;
}

#content h2 {
    color: #F29D35;
    border-bottom: 1px dotted darkgrey;
}

#blog {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 2rem;
}

#blog article.post {
    box-shadow: 0 4px 8px rgba(0, 0, 0, .6);
    padding: 10px;
    border-radius: 4px;
    font-size: .8rem;
    transition: 0.4s;
}

#blog article.post:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, .6);
}

#blog figure {
    margin: 0;
}

#blog figcaption,
time.post-date {
    text-transform: uppercase;
    font-size: 0.6rem;
    text-align: center;
    color: blue;
}

#blog.post a {
    color: #F29D35;
}

aside[role="complementary"] {
    background-color: #0785F2;
    color: #F29D35;
    padding: 40px 0;
}

aside .container {
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    gap: 40px;
}

aside article.widget a {
    color: black;


}

aside article.widget footer a:last-of-type {
    display: block;
    margin-top: 20px;
    text-align: right;
}
aside article.widget footer  {
    display: none;
   
}
#colophon {
    background-color: #056cf2;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cpath fill='%23d90479' fill-opacity='0.4' d='M14 16H9v-2h5V9.87a4 4 0 1 1 2 0V14h5v2h-5v15.95A10 10 0 0 0 23.66 27l-3.46-2 8.2-2.2-2.9 5a12 12 0 0 1-21 0l-2.89-5 8.2 2.2-3.47 2A10 10 0 0 0 14 31.95V16zm40 40h-5v-2h5v-4.13a4 4 0 1 1 2 0V54h5v2h-5v15.95A10 10 0 0 0 63.66 67l-3.47-2 8.2-2.2-2.88 5a12 12 0 0 1-21.02 0l-2.88-5 8.2 2.2-3.47 2A10 10 0 0 0 54 71.95V56zm-39 6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm40-40a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM15 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm40 40a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'%3E%3C/path%3E%3C/svg%3E");
  padding:5px;
  color:#ffffff;
  font-size:1.2rem;
  text-align:center;

}

/* --------- Media Queries ----------- */

@media screen and (max-width: 560px) {
    header.primary nav ul {
        flex-direction: column;
        gap: 10px;
        max-width: 200px;
        margin: 10px auto;
    }

    header.primary nav a {
        display: block;
    }

    @media screen and (max-width: 420px) {
        #blog {
            flex-direction: column;
        }   
     }
}