/* -------------css-demo----------------------*/

/*---------- Color Schreme-----
Main color -  #4362F4
/*  ---------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body 
{
    background-color: darkgoldenrod;
    .roboto-thin;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

main{}

header.primary
{
    background-color: antiquewhite;
    color:#000000
    text-align center; 
    text-shadow: 1px 1 px 20 px #000000;
}
