/* -------------css-demo----------------------*/

/*---------- Color Schreme-----
Main color -  #4362F4
/*  ---------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

nav
{
    width: 450px;
    overflow: hidden;
    background-color:#F2AA6B;
    color:#A63D33;
    list-style-type:none;
    margin: 0;
    padding: 0;

    
}
body 
{
  background-color:#F2BE5C;
  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
font-weight: normal;
    color:#403940;

}

main{}

header.primary
{
    background-color:#8F4F19;
    color:#8F4F19; 
    text-align center; 
    text-shadow: 1px 1 px 20 px #8F4F19;
}